<h1 class="my-recipes-heading">My Recipes</h1>

<div class="container">
  <button
    *ngIf="!isFormDisplayed"
    (click)="toggleForm()"
    class="button add-recipe-button"
  >
    Add recipe
  </button>

  <div *ngIf="isFormDisplayed">
    <app-add-recipe-form
      (onCancel)="toggleForm()"
    >
    </app-add-recipe-form>
  </div>

  <div class="list-container">
    <div
      *ngFor="let recipe of recipes$ | async"
    >
      <app-recipe-card
        [title]="recipe.title"
        [image]="recipe.imageAddress"
        [id]="recipe.id"
        [routerLink]="['/my-recipes', recipe.id]"
      >
      </app-recipe-card>
    </div>
  </div>
</div>
