.header {
  background-color: darkorange;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

a:hover {
  color: #518bbc;
}

a.button:hover {
  color: white;
  outline: none;
}

a.active-link {
  color: white;
}
