//@media (min-width: 640px) {
//  .recipes {
//    display: flex;
//    justify-content: space-between;
//    flex-wrap: wrap;
//  }
//}
.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 0;
}

@media (min-width: 640px) {
  .recipes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .recipes {
    grid-template-columns: repeat(4, 1fr);
  }
}

