<div class="header"
     [ngClass]="{'blocked': (blockUIService.isBlocked$ | async) }"
>
  <div class="container">
    <nav class="navbar">
      <a href="/" class="logo">Food App</a>

      <div class="nav-links">
        <a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}"  class="nav-link"
        >
          Home
        </a>

        <a routerLink="/about" routerLinkActive="active-link"  class="nav-link">
          About
        </a>

        <a routerLink="/categories" routerLinkActive="active-link"  class="nav-link">
          Categories
        </a>

        <a routerLink="/my-recipes" routerLinkActive="active-link" class="nav-link">
          My Recipes
        </a>

        <a routerLink="/registration" routerLinkActive="active-link"  class="nav-link">
          Register
        </a>

        <a routerLink="/login" routerLinkActive="active-link"  class="nav-link">
          Login
        </a>
      </div>
    </nav>
  </div>
</div>
