<div *ngIf="currentPath.includes('my-recipes'); else recipeInfoBlock"
     class="recipe-details container"
>
  <ng-container *ngIf="myRecipeInfo$ | async as myRecipeData">
    <h3 class="recipe-title">
      {{ myRecipeData?.title }}
    </h3>

    <div class="d-flex">
      <img
        class="recipe-image my-recipe-image"
        [src]="myRecipeData?.imageAddress"
        [alt]="myRecipeData?.title"
      >

      <p class="recipe-category">
        {{ myRecipeData?.category }}
      </p>
    </div>

    <div class="recipe-preparation">
      <div class="recipe-ingredients">
        <h4>Ingredients</h4>

        <ul>
          <li *ngFor="let ingredient of myRecipeData?.ingredients">
            <span>{{ ingredient.measure }}</span>
            <span>{{ ingredient.name }}</span>
          </li>
        </ul>
      </div>

      <div class="recipe-instructions">
        <h4>Instruction</h4>

        <p>
          {{ myRecipeData?.instruction }}
        </p>
      </div>
    </div>

    <button
      (click)="editRecipe()"
      class="button add-recipe-button"
    >
      Edit
    </button>
  </ng-container>
</div>

<ng-template #recipeInfoBlock>
  <ng-container *ngIf="recipeInfo$ | async as recipeData">
    <div class="recipe-details container">
      <h3 class="recipe-title">
        {{ recipeData?.strMeal }}
      </h3>

      <div class="d-flex">
        <img
          class="recipe-image"
          [src]="recipeData?.strMealThumb"
          [alt]="recipeData?.strMeal"
        >

        <p class="recipe-category">
          {{ recipeData?.strCategory }}
        </p>
      </div>

      <div class="recipe-preparation">
        <div class="recipe-ingredients">
          <h4>Ingredients</h4>

          <ul *ngIf="recipeIngredients$ | async as recipeIngredients">
            <li *ngFor="let ingredient of recipeIngredients">
              <span>{{ ingredient.measure }}</span>
              <span>{{ ingredient.name }}</span>
            </li>
          </ul>
        </div>

        <div class="recipe-instructions">
          <h4>Instruction</h4>

          <p>
            {{ recipeData?.strInstructions }}
          </p>
        </div>
      </div>

      <div>
        <a
          *ngIf="recipeData?.strYoutube"
          target="_blank"
          rel="noreferrer noopener"
        >
          Watch this on Youtube
        </a>

        <a
          *ngIf="recipeData?.strSource !== ''"
          [href]="recipeData?.strSource"
          target="_blank"
          rel="noreferrer noopener"
        >
          Go to source
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>
