<div class="recipe-details container">
  <h3 class="recipe-title">
    {{ isMyRecipe ? myRecipeInfo?.title : recipeInfo?.strMeal }}
  </h3>

  <div class="d-flex">
    <img
      class="recipe-image"
      [src]="isMyRecipe ? myRecipeInfo?.imageAddress : recipeInfo?.strMealThumb"
      [alt]="isMyRecipe ? myRecipeInfo?.title : recipeInfo?.strMeal"
    >

    <p class="recipe-category">
      {{ isMyRecipe ? myRecipeInfo?.category : recipeInfo?.strCategory }}
    </p>
  </div>

  <div class="recipe-preparation">
    <div class="recipe-ingredients">
      <h4>Ingredients</h4>

      <ul *ngIf="isMyRecipe; else otherRecipe">
        <li *ngFor="let ingredient of myRecipeInfo?.ingredients">
          <span>{{ ingredient.measure }}</span>
          <span>{{ ingredient.name }}</span>
        </li>
      </ul>

      <ng-template #otherRecipe>
        <ul>
          <li *ngFor="let ingredient of recipeIngredients">
            <span>{{ ingredient.measure }}</span>
            <span>{{ ingredient.name }}</span>
          </li>
        </ul>
      </ng-template>
    </div>

    <div class="recipe-instructions">
      <h4>Instruction</h4>

      <p>
        {{ isMyRecipe ? myRecipeInfo?.instruction : recipeInfo?.strInstructions }}
      </p>
    </div>
  </div>

  <div *ngIf="!isMyRecipe">
    <a
      *ngIf="recipeInfo?.strYoutube"
      target="_blank"
      rel="noreferrer noopener"
    >
      Watch this on Youtube
    </a>

    <a
      *ngIf="recipeInfo?.strSource !== ''"
      [href]="recipeInfo?.strSource"
      target="_blank"
      rel="noreferrer noopener"
    >
      Go to source
    </a>
  </div>

  <div *ngIf="isMyRecipe">
    <button
      (click)="editRecipe()"
      class="button add-recipe-button"
    >
      Edit
    </button>
  </div>
</div>
